<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="carBean" class="io.mlu.mde.auto.Car" autowire="constructor">
        <constructor-arg name="type" value="Sedan"/>
        <constructor-arg name="model" value="BMW 740 2021"/>
        <constructor-arg name="price" value="88000"/>
        <constructor-arg name="combinedFuelEconomy" value="25"/>
    </bean>

    <bean id="engine" class="io.mlu.mde.auto.Engine">
        <constructor-arg name="horsepower" value="335"/>
        <constructor-arg name="maxRPM" value="5500"/>
        <constructor-arg name="displacement" value="3.0"/>
        <constructor-arg name="cylinderConfig" value="I-6"/>
        <constructor-arg name="recommendedFuel" value="premium unleaded"/>
    </bean>

</beans>